.offscreen {
  position: absolute;
  left: -10000px;
}

.skip-link {
  position: absolute;
  top: 0;
  left: -10000px;
  background-color: $blackColor;
  color: $whiteColor;
  padding: $padding;
  z-index: 1001;
}

.skip-link:focus,
.skip-link:active {
  top: auto;
  left: auto;
}
