// DEFAULT BUTTON
.btn {
  font-family: inherit;
  font-size: inherit;
  background-color: $btnBGColor;
  color: $btnColor;
  border: none;
  border-radius: $borderRadiusBtn;
  cursor: pointer;
}

// ALTERNATE BUTTON
.btn.alt {
  background-color: $btnBGColorAlt;
  color: $btnColorAlt;
}
