.crew-page {
  height: 100vh;
  min-height: 710px;
  width: 100%;
  max-width: 1440px;
  @include flexCenter;
  overflow: hidden;
  position: relative;
  display: none;

  background-color: $darkBlueColor;
  background-image: url("../../dist/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include mqMinW(525px) {
    background-image: url("../../dist/assets/crew/background-crew-tablet.jpg");
  }

  @include mqMinW(950px) {
    background-image: url("../../dist/assets/crew/background-crew-desktop.jpg");
    background-position: center;
  }

  @include mqMinW(768px) {
    min-height: 1024px;
  }

  @include mqMinW(1440px) {
    min-height: 900px;
    max-height: 900px;
    max-width: 1440px;
  }
}

.crew-page .crew-page-title-text {
  font-family: $fontBarlowCondensedRegular;
  font-weight: $fontWeightRegular;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: left;
  color: $whiteColor;
  position: absolute;
  top: 88px;

  @include mqMinW(768px) {
    font-size: 20px;
    letter-spacing: 3.38px;
    top: 136px;
    left: 38.5px;
  }

  @include mqMinW(1440px) {
    font-size: 28px;
    letter-spacing: 4.72px;
    top: 212px;
    left: 166.5px;
  }
}

.crew-page .crew-page-title-text-numbr {
  opacity: 0.25;
  font-weight: $fontWeightBold;
  margin-right: 16px;
}

.crew-page .photo-div {
  width: 327px;
  height: 223px;
  position: absolute;
  top: 139px;
  overflow-y: hidden;

  @include mqMinW(768px) {
    width: auto;
    height: auto;
    top: auto;
    bottom: -40px;
  }

  @include mqMinW(1440px) {
    bottom: 0px;
    right: 137px;
  }

  .crew-img {
    height: 222px;
    width: auto;
    margin-inline: auto;

    @include mqMinW(768px) {
      height: 572px;
      width: auto;
    }

    @include mqMinW(1440px) {
      height: max-content;
    }
  }

  .crew-img-rect {
    height: 1px;
    width: 100%;
    background-color: #383b4b;
    position: relative;
    z-index: 1;

    @include mqMinW(768px) {
      display: none;
    }
  }
}

.crew-page .text-and-buttons-container {
  width: 327px;
  margin-inline: 1rem;
  position: absolute;
  top: 394px;
  display: flex;
  flex-direction: column-reverse;

  @include mqMinW(768px) {
    width: 458px;
    top: 220px;
    flex-direction: column;
  }

  @include mqMinW(1440px) {
    width: auto;
    height: auto;
    top: 400px;
    left: 165px;
  }

  .buttons-container {
    @include flexCenter;
    gap: 16px;
    margin-bottom: 32px;

    @include mqMinW(768px) {
      margin-bottom: 0;
    }

    @include mqMinW(1440px) {
      gap: 24px;
      justify-content: flex-start;
      margin-left: 2px;
      position: absolute;
      top: 391px;
    }

    .circle-btn {
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 50%;
      background-color: $whiteColor;
      opacity: 0.1744;
      cursor: pointer;

      @include mqMinW(1440px) {
        width: 15px;
        height: 15px;
      }
    }

    .circle-btn:hover,
    .circle-btn:focus-visible {
      opacity: 0.5001;
    }

    .hover-opacity {
      opacity: 0.5001;
    }

    .circle-btn:first-child {
      opacity: 1;
    }

    .circle-btn:active {
      filter: brightness(80%);
    }
  }

  .text-div {
    font-family: $fontBellefairRegular;
    text-align: center;
    color: $whiteColor;

    @include mqMinW(1440px) {
      text-align: left;
    }

    .crew-role-text {
      font-size: 16px;
      font-weight: $fontWeightRegular;
      margin-bottom: 8px;
      opacity: 0.4951;

      @include mqMinW(768px) {
        font-size: 24px;
        opacity: 0.4994;
      }

      @include mqMinW(1440px) {
        width: max-content;
        font-size: 32px;
        margin-left: 0.5px;
        margin-bottom: 15px;
      }
    }

    .crew-name-text {
      font-size: 24px;
      font-weight: $fontWeightRegular;
      margin-bottom: 16px;

      @include mqMinW(768px) {
        font-size: 40px;
      }

      @include mqMinW(1440px) {
        font-size: 56px;
        margin-left: 0.5px;
        margin-bottom: 27px;
      }
    }

    .crew-bio-text {
      font-family: $fontBarlowRegular;
      font-weight: $fontWeightRegular;
      font-size: 15px;
      line-height: 25px;
      color: $lightPurpleColor;
      margin-inline: 24px;

      @include mqMinW(375px) {
        margin-inline: 0;
      }

      @include mqMinW(768px) {
        height: 84px;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
      }

      @include mqMinW(1440px) {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 0px;
        width: 444px;
        height: auto;
      }
    }
  }
}
