.crew-page-title-text {
  font-family: $fontBarlowCondensedRegular;
  font-weight: $fontWeightRegular;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: left;
  color: $whiteColor;
  position: absolute;
  top: 88px;
}

.crew-page-title-text-nmbr {
  opacity: 0.25;
  font-weight: $fontWeightBold;
  margin-right: 16px;
}

.crew-page {
  height: 100vh;
  min-height: 667px;
  @include flexCenter;
  overflow-x: hidden;
  position: relative;

  background-color: $darkBlueColor;
  background-image: url("../../dist/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;

  @include mqMinW(768px) {
    min-height: 1024px;
    background-image: url("../../dist/assets/crew/background-crew-tablet.jpg");
  }

  @include mqMinW(1440px) {
    min-height: 900px;
    background-image: url("../../dist/assets/crew/background-crew-desktop.jpg");
  }

  .content-container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 830px;
    @include flexCenter;
    flex-direction: column;
    position: relative;

    @include mqMinW(768px) {
      max-height: 1366px;
    }

    @include mqMinW(1440px) {
      max-width: 1440px;
      max-height: 900px;
    }
  }
}

.crew-page .photo-div-c {
  width: 327px;
  height: 223px;
  position: absolute;
  top: 139px;
  overflow-y: hidden;

  .crew-img {
    height: 222px;
    width: auto;
    margin-inline: auto;
  }
  .crew-img-rect {
    height: 1px;
    width: 100%;
    background-color: #383b4b;
    position: relative;
    z-index: 1;
  }
}

.text-and-buttons-container {
  width: 327px;
  margin-inline: 1rem;
  position: absolute;
  top: 394px;

  .buttons-container {
    @include flexCenter;
    gap: 16px;
    margin-bottom: 32px;

    .oval-btn {
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 50%;
      background-color: white;
      opacity: 0.1744;
      cursor: pointer;
    }
    .oval-btn:first-child {
      opacity: 1;
    }
  }

  .text-div {
    font-family: $fontBellefairRegular;
    font-weight: $fontWeightRegular;
    text-align: center;
    color: $whiteColor;

    .crew-role-text {
      font-size: 16px;
      margin-bottom: 8px;
      opacity: 0.4951;
    }

    .crew-name-text {
      font-size: 24px;
      margin-bottom: 16px;
    }

    .crew-bio-text {
      font-family: $fontBarlowRegular;
      font-size: 15px;
      line-height: 25px;
      color: $lightPurpleColor;
    }
  }
}

.crew-page .content-container .logo-div-phone {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 24px;
  @include mqMinW(768px) {
    display: none;
  }
}

.crew-page .phone-menu {
  width: 254px;
  height: 100vh;
  min-height: 667px;
  background-color: rgba(255, 255, 255, 0.04);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(255px);

  z-index: 1;

  @include mqMinW(768px) {
    display: none;
  }
}

.blur-filter {
  width: 100%;
  height: 100%;

  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.crew-page .phone-menu.phoneMenuShow {
  transform: translate(0px);
  transition: 0.875s ease-in-out;
}

.crew-page .phone-menu.phoneMenuHide {
  transform: translate(255px);
  transition: 0.875s ease-in-out;
}

@include mqMinW(768px) {
  .crew-page .menu-and-logo-container {
    width: 94.6265%;
    height: 96px;
    @include flexCenter;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;

    @include mqMinW(1440px) {
      width: 96.181%;
    }

    .menu {
      width: 450px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.04);

      @include mqMinW(1440px) {
        width: 830px;
      }
    }
  }
}

@include mqMinW(1440px) {
  .crew-page .menu-and-logo-container {
    margin-top: 40px;
  }
  .rectangle-line {
    width: 473px;
    height: 1px;
    background-color: $whiteColor;
    opacity: 0.2515;
    position: absolute;
    left: 112px;
    z-index: 1;
  }
}
