.destination-page {
  height: 100vh;
  min-height: 850px;
  width: 100%;
  flex-direction: column;
  @include flexCenter;
  overflow-x: hidden;
  position: relative;
  display: none;

  background-color: $darkBlueColor;
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include mqMinW(525px) {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }

  @include mqMinW(950px) {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    background-position: center;
  }

  @include mqMinW(768px) {
    min-height: 1024px;
  }

  @include mqMinW(1440px) {
    max-width: 1440px;
    min-height: 900px;
  }
}

.destination-page .destination-page-title-text {
  font-family: $fontBarlowCondensedRegular;
  font-weight: $fontWeightRegular;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: $whiteColor;
  position: absolute;
  top: 88px;

  @include mqMinW(768px) {
    font-size: 20px;
    letter-spacing: 3.38px;
    top: 136px;
    left: 38.5px;
  }

  @include mqMinW(1440px) {
    font-size: 28px;
    letter-spacing: 4.72px;
    top: 212px;
    left: 166.5px;
  }
}

.destination-page .destination-page-title-text-numbr {
  opacity: 0.25;
  font-weight: $fontWeightBold;
  margin-right: 18px;

  @include mqMinW(768px) {
    margin-right: 19px;
  }

  @include mqMinW(1440px) {
    margin-right: 28px;
  }
}

.destination-page .photo-div {
  position: absolute;
  top: 139px;

  @include mqMinW(768px) {
    top: 220px;
  }

  @include mqMinW(1440px) {
    right: auto;
    top: 343px;
    left: 230px;
  }

  .destination-img {
    height: 170px;
    width: auto;
    margin-inline: auto;

    @include mqMinW(768px) {
      height: 300px;
      width: auto;
    }

    @include mqMinW(1440px) {
      height: max-content;
    }
  }

  .destination-img.destination-img-animation-out {
    transition: ease-in-out all 1.75s;
    opacity: 0.25;
    scale: 0;
    transform: rotate(1080deg);
    filter: blur(2px);
    filter: brightness(0%);
    filter: grayscale(1);
  }

  .destination-img.destination-img-animation-in {
    transition: ease-in-out all 1.75s;
    opacity: 1;
    scale: 1;
    transform: rotate(0deg);
    filter: blur(0px);
    filter: brightness(100%);
    filter: grayscale(0);
  }
}

.destination-page .text-and-moons-nav-container {
  width: 327px;
  margin-inline: 1rem;
  position: absolute;
  top: 335px;

  @include mqMinW(768px) {
    width: 573px;
    top: 573px;
  }

  @include mqMinW(1440px) {
    width: 445px;
    height: 472px;
    top: 310px;
    left: 832px;
  }

  .moons-menu {
    max-width: 237.5px;
    margin-inline: auto;
    position: relative;

    @include mqMinW(768px) {
      max-width: 285.5px;
    }

    @include mqMinW(1440px) {
      margin-inline: 0;
    }
  }

  .text-div {
    font-family: $fontBellefairRegular;
    text-align: center;
    color: $whiteColor;

    @include mqMinW(1440px) {
      text-align: left;
    }

    .destination-name-text {
      height: 64px;
      width: fit-content;
      margin-inline: auto;
      font-size: 56px;
      font-weight: $fontWeightRegular;
      margin-bottom: 1px;

      @include mqMinW(768px) {
        font-size: 80px;
        height: auto;
        margin-bottom: 8px;
      }

      @include mqMinW(1440px) {
        font-size: 100px;
        margin-inline: 0;
        margin-bottom: 14px;
      }
    }

    .destination-desc-text {
      font-family: $fontBarlowRegular;
      font-weight: $fontWeightRegular;
      font-size: 15px;
      line-height: 25px;
      color: $lightPurpleColor;
      margin-inline: 24px;
      margin-bottom: 32px;

      @include mqMinW(375px) {
        margin-inline: 0;
      }

      @include mqMinW(768px) {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 49px;
      }

      @include mqMinW(1440px) {
        width: 444px;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 54px;
      }
    }

    .destination-divider-rect {
      height: 1px;
      width: 100%;
      background-color: #383b4b;
      position: relative;
      z-index: 1;
      margin-bottom: 32px;

      @include mqMinW(768px) {
        margin-bottom: 28px;
      }
    }

    .destination-parameters {
      @include mqMinW(768px) {
        height: 89px;
        display: flex;
        flex-direction: row;
        position: relative;
      }
    }

    .destination-parameter-name-text {
      width: fit-content;
      margin-inline: auto;
      font-family: $fontBarlowCondensedRegular;
      font-size: 14px;
      font-weight: $fontWeightRegular;
      letter-spacing: 2.362px;
      color: $lightPurpleColor;
      margin-bottom: 12px;
    }

    @include mqMinW(768px) {
      .avg-distance {
        position: absolute;
        left: 65.5px;
      }

      .est-travel-time {
        position: absolute;
        left: 292.5px;
      }

      .avg-distance .destination-parameter-name-text {
        width: 216px;
      }

      .est-travel-time .destination-parameter-name-text {
        width: 223px;
      }
    }

    @include mqMinW(1440px) {
      .avg-distance {
        position: absolute;
        left: 0px;
      }

      .est-travel-time {
        position: absolute;
        left: 221.5px;
      }

      .avg-distance .destination-parameter-name-text {
        width: fit-content;
        margin-inline: 0;
      }

      .est-travel-time .destination-parameter-name-text {
        width: fit-content;
        margin-inline: 0;
      }
    }

    .destination-parameter-name-value-text {
      width: fit-content;
      margin-inline: auto;
      font-size: 28px;
      font-weight: $fontWeightRegular;
      margin-bottom: 32px;

      @include mqMinW(768px) {
        margin-bottom: 16px;
      }

      @include mqMinW(1440px) {
        margin-inline: 0;
      }
    }

    @include mqMinW(768px) {
      .avg-distance .destination-parameter-name-value-text {
        width: 216px;
      }

      .est-travel-time .destination-parameter-name-value-text {
        width: 223px;
      }
    }

    @include mqMinW(1440px) {
      .avg-distance .destination-parameter-name-value-text {
        width: fit-content;
      }

      .est-travel-time .destination-parameter-name-value-text {
        width: fit-content;
      }
    }

    .change-text-animation-out {
      transition: ease-in-out all 1.75s;
      opacity: 0;
      scale: 0;
    }
    .change-text-animation-in {
      transition: ease-in-out all 1.75s;
      opacity: 1;
      scale: 1;
    }
  }
}
