.home-page {
  height: 100vh;
  min-height: 667px;
  // max-height: 932px;
  width: 100%;
  max-width: 1440px;
  @include flexCenter;
  overflow-x: hidden;
  position: relative;
  // display: none;

  background-color: $darkBlueColor;
  background-image: url("../../dist/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include mqMinW(525px) {
    background-image: url("../../dist/assets/home/background-home-tablet.jpg");
  }

  @include mqMinW(950px) {
    background-image: url("../../dist/assets/home/background-home-desktop.jpg");
    background-position: center;
  }

  @include mqMinW(768px) {
    min-height: 1024px;
  }

  @include mqMinW(1440px) {
    min-height: 900px;
    max-height: 900px;
    max-width: 1440px;
  }
}

.home-page .text-div {
  max-width: 450px;
  margin-inline: 24px;
  color: $whiteColor;
  position: absolute;
  top: 112px;

  @include mqMinW(768px) {
    top: 202px;
  }

  @include mqMinW(1440px) {
    top: auto;
    bottom: 131px;
    left: 165px;
  }

  .title-regular-text {
    font-family: $fontBarlowCondensedRegular;
    font-size: 16px;
    font-weight: $fontWeightRegular;
    letter-spacing: 2.7px;
    color: $lightPurpleColor;
    text-align: center;

    @include mqMinW(768px) {
      font-size: 20px;
      letter-spacing: 3.38px;
    }
    @include mqMinW(1440px) {
      font-size: 28px;
      letter-spacing: 4.72px;
      text-align: left;
    }
  }

  .title-big-text {
    font-size: 80px;
    font-weight: $fontWeightRegular;
    line-height: 100px;
    text-align: center;

    @include mqMinW(768px) {
      font-size: 150px;
      line-height: 150px;
      margin-right: 5px;
    }

    @include mqMinW(1440px) {
      line-height: auto;
      margin-right: 0px;
      text-align: left;
    }
  }

  .desc-text {
    font-family: $fontBarlowRegular;
    font-size: 15px;
    font-weight: $fontWeightRegular;
    line-height: 25px;
    color: $lightPurpleColor;
    text-align: center;

    @include mqMinW(768px) {
      font-size: 16px;
      line-height: 28px;
      margin-inline: 3px;
    }

    @include mqMinW(1440px) {
      font-size: 18px;
      line-height: 32px;
      margin-inline: 0px;
      text-align: left;
    }
  }

  .title-big-text,
  .desc-text {
    margin-top: 16px;

    @include mqMinW(768px) {
      margin-top: 24px;
    }
  }
}

.home-page .explore-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $whiteColor;
  position: absolute;
  top: 469px;

  @include mqMinW(768px) {
    width: 242px;
    height: 242px;
    top: 692px;
  }

  @include mqMinW(1440px) {
    width: 274px;
    height: 274px;
    top: 495px;
    right: 165px;
  }

  .explore-btn__text {
    font-family: $fontBellefairRegular;
    font-size: 20px;
    letter-spacing: 1.25px;
    color: $darkBlueColor;

    @include mqMinW(768px) {
      font-size: 32px;
      letter-spacing: 2px;
    }
  }
}

.home-page .explore-btn-hover-overlay {
  width: 220px;
  height: 220px;
  background-color: $exploreBtnOverlayColor;
  border-radius: 50%;
  position: absolute;
  top: calc(459px - 25px);
  transition: scale ease-out 0.8s;

  @include mqMinW(768px) {
    width: 350px;
    height: 350px;
    top: calc(668px - 30px);
  }

  @include mqMinW(1440px) {
    width: 450px;
    height: 450px;
    top: calc(444px - 37px);
    right: (114px - 37px);
  }
}

.home-page .explore-btn-hover-overlay.overlay-active {
  scale: 1;
}

.home-page .explore-btn-hover-overlay.overlay-not-active {
  scale: 0.67;

  @include mqMinW(768px) {
    scale: 0.69142;
  }
  @include mqMinW(1440px) {
    scale: 0.60889;
  }
}
