.home-page {
  height: 100vh;
  min-height: 667px;
  @include flexCenter;
  overflow-x: hidden;
  position: relative;

  background-color: $darkBlueColor;
  background-image: url(../../dist/assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include mqMinW(768px) {
    min-height: 1024px;
  }

  @include mqMinW(1440px) {
    min-height: 900px;
  }

  .content-container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 830px;
    @include flexCenter;
    position: relative;

    @include mqMinW(768px) {
      max-height: 1366px;
    }

    @include mqMinW(1440px) {
      max-width: 1440px;
      max-height: 900px;
      background-color: $darkBlueColor;
      background-image: url(../../dist/assets/home/background-home-desktop.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.explore-btn-hover-overlay {
  width: 200px;
  height: 200px;
  background-color: $exploreBtnOverlayColor;
  opacity: 0.875;
  border-radius: 50%;
  position: absolute;
  bottom: calc(48px - 25px);
  transition: scale ease-out 0.8s;

  @include mqMinW(768px) {
    width: 302px;
    height: 302px;
    bottom: calc(90px - 30px);
  }

  @include mqMinW(1440px) {
    width: 350px;
    height: 350px;
    bottom: calc(131px - 37px);
    right: (165px - 37px);
  }
}

.explore-btn-hover-overlay.overlay-active {
  scale: 1;
}

.explore-btn-hover-overlay.overlay-not-active {
  scale: 0.7;
}

.home-page .content-container .explore-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $whiteColor;
  position: absolute;
  bottom: 48px;

  @include mqMinW(768px) {
    width: 242px;
    height: 242px;
    bottom: 90px;
  }

  @include mqMinW(1440px) {
    width: 274px;
    height: 274px;
    bottom: 131px;
    right: 165px;
  }

  .explore-btn__text {
    font-family: $fontBellefairRegular;
    font-size: 20px;
    letter-spacing: 1.25px;
    color: $darkBlueColor;

    @include mqMinW(768px) {
      font-size: 32px;
      letter-spacing: 2px;
    }
  }
}

.home-page .content-container .text-div {
  max-width: 450px;
  margin: 0 24px;
  color: $whiteColor;
  position: absolute;
  top: 112px;

  @include mqMinW(768px) {
    top: 202px;
  }

  @include mqMinW(1440px) {
    top: auto;
    bottom: 131px;
    left: 165px;
  }
}

.home-page .content-container .logo-div-phone {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 24px;
  @include mqMinW(768px) {
    display: none;
  }
}

.home-page .phone-menu {
  width: 254px;
  height: 100vh;
  min-height: 667px;
  background-color: rgba(255, 255, 255, 0.04);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(255px);

  z-index: 1;

  @include mqMinW(768px) {
    display: none;
  }
}

.blur-filter {
  width: 100%;
  height: 100%;

  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.home-page .phone-menu.phoneMenuShow {
  transform: translate(0px);
  transition: 0.875s ease-in-out;
}

.home-page .phone-menu.phoneMenuHide {
  transform: translate(255px);
  transition: 0.875s ease-in-out;
}

@include mqMinW(768px) {
  .home-page .menu-and-logo-container {
    width: 94.6265%;
    height: 96px;
    @include flexCenter;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;

    @include mqMinW(1440px) {
      width: 96.181%;
    }

    .menu {
      width: 450px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.04);

      @include mqMinW(1440px) {
        width: 830px;
      }
    }
  }
}

@include mqMinW(1440px) {
  .home-page .menu-and-logo-container {
    margin-top: 40px;
  }
  .rectangle-line {
    width: 473px;
    height: 1px;
    background-color: $whiteColor;
    opacity: 0.2515;
    position: absolute;
    left: 112px;
    z-index: 1;
  }
}

// BACKGROUND IMAGE QUERIES
@include mqMinW(525px) {
  .home-page {
    background-image: url(../../dist/assets/home/background-home-tablet.jpg);
  }
}
@include mqMinW(950px) {
  .home-page {
    background-image: url(../../dist/assets/home/background-home-desktop.jpg);
    background-position: center;
  }
}

@include mqMinW(1440px) {
  .home-page {
    background-image: none;
  }
}
