#menu-marker {
  display: none;
  background-color: $whiteColor;
  transition: 1s;
  position: absolute;
  bottom: 0;
  cursor: pointer;

  @include mqMinW(768px) {
    display: block;
    width: 36px;
    height: 3px;
    left: 48px;
  }

  @include mqMinW(1440px) {
    width: 71px;
    left: 123px;
  }
}

.nav {
  padding: 0 3rem;

  @include mqMinW(1440px) {
    padding: 0 165px 0 123px;
  }
  .ul {
    @include flexCenter;

    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;

    height: 96px;
    @include mqMinW(1440px) {
    }

    .li {
      height: 100%;
      font-size: 14px;
      font-family: $fontBarlowCondensedRegular;
      font-weight: $fontWeightRegular;
      letter-spacing: 2.36px;

      @include mqMinW(1440px) {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        letter-spacing: 2.7px;
      }

      .li__a {
        color: $whiteColor;
        height: 100%;

        @include mqMinW(768px) {
          display: flex;
          align-items: center;
        }
      }

      .li__a__numbr {
        display: none;
        font-family: $fontBarlowCondensedRegular;
        font-weight: $fontWeightBold;

        @include mqMinW(1440px) {
          display: inline;
          font-size: 16px;
          letter-spacing: 2.7px;
        }
      }

      .li__a__numbr.a-home {
        margin-right: 11px;
      }
      .li__a__numbr.a-destination {
        margin-right: 14px;
      }
      .li__a__numbr.a-crew,
      .li__a__numbr.a-technology {
        margin-right: 12px;
      }
    }

    .li:hover {
      cursor: pointer;
      @include mqMinW(768px) {
        border-top: 3px solid transparent;
        border-bottom: 3px solid rgba(255, 255, 255, 0.5021);
      }
      @include mqMinW(1440px) {
        border-top: 3.5px solid transparent;
        border-bottom: 3.5px solid rgba(255, 255, 255, 0.5021);
      }
    }

    .li:active .li__a {
      color: rgba(255, 255, 255, 0.5021);
    }
  }
}

.stay-hovered {
  @include mqMinW(768px) {
    border-top: 3px solid transparent;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5021);
  }
  @include mqMinW(1440px) {
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid rgba(255, 255, 255, 0.5021);
  }
}
