.nav-phone {
  width: 100%;
  height: 100%;
  padding: $paddingNav;

  .ul {
    @include flexCenter;
    flex-direction: column;
    list-style-type: none;

    .li {
      width: 100%;
      font-size: 16px;
      font-family: $fontBarlowCondensedRegular;
      font-weight: $fontWeightRegular;
      letter-spacing: 2.7px;
      margin-bottom: 2rem;

      .li__a {
        color: $whiteColor;

        .li__a__numbr {
          font-weight: $fontWeightBold;
        }

        .li__a__numbr.a-home {
          margin-right: 11px;
        }
        .li__a__numbr.a-destination {
          margin-right: 14px;
        }
        .li__a__numbr.a-crew,
        .li__a__numbr.a-technology {
          margin-right: 12px;
        }
      }
    }
  }
}
