.moons-menu-marker {
  width: 36px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;

  @include mqMinW(768px) {
    width: 41px;
  }
}

.moons-menu-marker.selected-marker {
  background-color: $whiteColor;
}

.moons-menu-marker.hover-marker {
  display: none;
  background-color: rgba(255, 255, 255, 0.5021);
}

.moons-nav {
  margin-bottom: 20px;

  @include mqMinW(768px) {
    margin-bottom: 32px;
  }

  .ul {
    height: 28px;
    @include flexCenter;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    list-style-type: none;

    @include mqMinW(768px) {
      height: 34px;
    }

    .li {
      height: 100%;
      font-size: 14px;
      font-family: $fontBarlowCondensedRegular;
      font-weight: $fontWeightRegular;
      letter-spacing: 2.362px;

      @include mqMinW(768px) {
        font-size: 16px;
        letter-spacing: 2.7px;
      }

      .li__moon {
        color: $whiteColor;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
      }

      .li__moon.moon {
        width: 35px;

        @include mqMinW(768px) {
          width: auto;
        }
      }
      .li__moon.mars {
        width: 33px;

        @include mqMinW(768px) {
          width: auto;
        }
      }
      .li__moon.europa {
        width: 49px;

        @include mqMinW(768px) {
          width: auto;
        }
      }
      .li__moon.titan {
        width: 37px;

        @include mqMinW(768px) {
          width: auto;
        }
      }
    }

    .li:active .li__moon {
      color: rgba(255, 255, 255, 0.5021);
    }
  }
}
