.phone-sidebar-menu {
  width: 254px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(102%);

  z-index: 1001;

  @include mqMinW(768px) {
    display: none;
  }
}

.phone-sidebar-menu.phoneMenuShow {
  transform: translate(0px);
  transition: 0.875s ease-in-out;
}

.phone-sidebar-menu.phoneMenuHide {
  transform: translate(102%);
  transition: 0.875s ease-in-out;
}

.phone-sidebar-menu .menu-phone-selected-marker {
  width: 4px;
  height: 31px;
  right: 0px;
  top: 0px;
  background-color: $whiteColor;
  position: absolute;
  bottom: 0;
  cursor: pointer;

  @include mqMinW(768px) {
    display: none;
  }
}
