.technology-page {
  height: 100vh;
  min-height: 710px;
  width: 100%;
  max-width: 1440px;
  @include flexCenter;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  display: none;

  background-color: $darkBlueColor;
  background-image: url("../../dist/assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include mqMinW(525px) {
    background-image: url("../../dist/assets/technology/background-technology-tablet.jpg");
  }

  @include mqMinW(950px) {
    background-image: url("../../dist/assets/technology/background-technology-desktop.jpg");
    background-position: center;
  }

  @include mqMinW(768px) {
    min-height: 1024px;
    overflow-y: hidden;
  }

  @include mqMinW(1440px) {
    max-width: 1440px;
    min-height: 900px;
    max-height: 900px;
  }
}

.technology-page .technology-page-title-text {
  font-family: $fontBarlowCondensedRegular;
  font-weight: $fontWeightRegular;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: $whiteColor;
  position: absolute;
  top: 88px;

  @include mqMinW(768px) {
    font-size: 20px;
    letter-spacing: 3.38px;
    top: 136px;
    left: 38.5px;
  }

  @include mqMinW(1440px) {
    font-size: 28px;
    letter-spacing: 4.72px;
    top: 212px;
    left: 166.5px;
  }
}

.technology-page .technology-page-title-text-numbr {
  opacity: 0.25;
  font-weight: $fontWeightBold;
  margin-right: 16px;
}

.technology-page .photo-div {
  width: 100%;
  max-width: 430px;
  position: absolute;
  top: 139px;
  overflow-x: hidden;

  @include mqMinW(768px) {
    max-width: 768px;
    top: 220px;
  }

  @include mqMinW(1440px) {
    max-width: 515px;
    top: 272px;
    right: 0;
  }

  .technology-img {
    width: 100%;
    height: 170px;

    @include mqMinW(768px) {
      height: 310px;
    }

    @include mqMinW(1440px) {
      width: auto;
      height: auto;
    }
  }
}

.technology-page .text-and-buttons-container {
  width: 327px;
  margin-inline: 1rem;
  position: absolute;
  top: 343px;
  display: flex;
  flex-direction: column-reverse;

  @include mqMinW(768px) {
    width: 458px;
    top: 586px;
  }

  @include mqMinW(1440px) {
    flex-direction: row-reverse;
    width: auto;
    height: auto;
    top: 383px;
    left: 165px;
    margin-inline: 0;
  }

  .buttons-container {
    @include flexCenter;
    gap: 16px;
    margin-bottom: 26px;
    width: max-content;
    margin-inline: auto;

    @include mqMinW(768px) {
      margin-bottom: 44px;
    }

    @include mqMinW(1440px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 32px;
      margin-bottom: 0;
      margin-right: 80px;
    }

    .circle-btn-alt {
      font-family: $fontBellefairRegular;
      font-size: 16px;
      letter-spacing: 1px;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.25);
      opacity: 1;
      background-color: transparent;
      color: $whiteColor;
      cursor: pointer;

      @include mqMinW(768px) {
        font-size: 24px;
        letter-spacing: 1.5px;
        width: 60px;
        height: 60px;
      }

      @include mqMinW(1440px) {
        font-size: 32px;
        letter-spacing: 2px;
        width: 80px;
        height: 80px;
      }
    }
    .circle-btn-alt:first-child {
      background-color: $whiteColor;
      color: $darkBlueColor;
      border: none;
    }
  }

  .text-div {
    font-family: $fontBellefairRegular;
    text-align: center;
    color: $whiteColor;

    @include mqMinW(1440px) {
      text-align: left;
    }

    .terminology-text {
      font-family: $fontBarlowCondensedRegular;
      font-weight: $fontWeightRegular;
      font-size: 14px;
      letter-spacing: 2.36px;
      margin-bottom: 9px;
      width: max-content;
      margin-inline: auto;
      color: $lightPurpleColor;

      @include mqMinW(768px) {
        font-size: 16px;
        letter-spacing: 2.7px;
        margin-bottom: 16px;
      }

      @include mqMinW(1440px) {
        width: max-content;
        margin-inline: 0 auto;
        font-size: 16px;
        margin-bottom: 11px;
      }
    }

    .name-text {
      font-size: 24px;
      font-weight: $fontWeightRegular;
      width: max-content;
      margin-inline: auto;
      color: $whiteColor;
      margin-bottom: 16px;

      @include mqMinW(768px) {
        font-size: 40px;
        margin-bottom: 16px;
      }

      @include mqMinW(1440px) {
        margin-inline: 0 auto;
        font-size: 56px;
        margin-bottom: 17px;
      }
    }

    .desc-text {
      font-family: $fontBarlowRegular;
      font-weight: $fontWeightRegular;
      font-size: 15px;
      line-height: 25px;
      margin-inline: 24px;

      color: $lightPurpleColor;

      @include mqMinW(375px) {
        margin-inline: 0;
      }

      @include mqMinW(768px) {
        font-size: 16px;
        line-height: 28px;
      }

      @include mqMinW(1440px) {
        font-size: 18px;
        line-height: 32px;
        width: 444px;
        height: auto;
      }
    }
  }
}
